# Auto detect text files and perform LF normalization
* text=auto
*.pth filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
ml_manager/cache/torch/hub/checkpoints/*.pth filter=lfs diff=lfs merge=lfs -text
